.main {
  min-height: 81.6vh;
}
.user-main {
  min-height: 81.6vh;
  width: calc(100% - 200px);
}
/* sign in page  */
.signin-page {
  min-height: 100vh;
  background: url(./assets/BMS.jpg) center no-repeat;
  background-size: cover;
}
